[SddmGreeterTheme]
Name=Greet_Slayer
Description=A modern nerd-font based SDDM theme
Type=sddm-theme
Version=2.0
Screensht=preview.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=sddm-greet-slayer
Theme-API=2.15
QtVersion=6
